@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Inter:wght@100;300&display=swap');

.content,.tile {
    font-family: 'Frank Ruhl Libre', serif;
    animation: 1s ease 0s 1 fadeIn;
}

.img {
    animation: 1s ease 0s 1 fadeIn;
}

.nav {
    animation: 1s ease 0s 1 fallDown;
}

.buttons a {
    opacity: 70%;
    font-family: 'Inter', sans-serif;
}

.buttons a:hover {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    opacity: 100%;
}

.grid-item {
    transition: all .2s ease-in-out;
    background-color: #f0f0f0;
}

.grid-item:hover {
    background-color: #e7e7e7;
}

@keyframes fallDown {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media (max-width: 768px) {
    .buttons a {
        font-size: 12px;
    }
}

.grid-sizer,
.grid-item {
    width: 27%;
    height: 150px;
}

.grid-item--large {
    width: 50%;
    height: 450px;
}

.grid-item--width-2 { 
    width: 40%; 
}

.grid-item--height-2 {
    height: 350px;
}
.grid-item--height-3 {
    height: 450px;
}
.grid-item--height-4 {
    height: 600px;
}
.grid-item--height-5 {
    height: 750px;
}
.grid-item--height-6 {
    height: 900px;
}

