@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.content,.grid-item {
    font-family: 'Playfair Display', serif;
    animation: 1s ease 0s 1 fadeIn;
}

#body {
    font-size: 40px;
}

.img {
    animation: 1s ease 0s 1 fadeIn;
}

.nav {
    animation: 1s ease 0s 1 fadeIn;
    border-bottom: 1px solid black;
    background-color: white;
}

.navbutton {
    font-size: 40px;
    text-decoration: none;
    color: inherit;
    font-family: 'Inter', sans-serif;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    padding-right: 15px; 
    padding-left: 15px; 
}

.navbutton:hover {
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    background-color: rgba(182, 180, 180, 0.611);
}

#adages {
    color: #8F8CE7;
}

#adages:hover {
    color: #6564c8;
}

#lessons {
    color: rgb(255, 140, 0)
}

#lessons:hover {
    color: rgb(195, 116, 20)
}

#aphorisms {
    color: #ff9b99;
}

#aphorisms:hover {
    color: #f97673;
}

#epigrams {
    color: #5D21D0;
}

#epigrams:hover {
    color: #4302ba;
}

#etc {
    color: #7BC8F6;
}

#etc:hover {
    color: #42b4f6;
}


.garden-button {
    transition: all .2s ease-in;
}

.garden-button:hover {
    transition: all .2s ease-in;
    background-color: #6eff908b;
}

.gutter-sizer {
    width: 3%;
}

.quote {
    background-color: hsla(217, 71%, 53%, 0.293);
}

.quote:hover {
    background-color: hsla(217, 71%, 53%, 0.367);
}

.poem {
    background-color: hsla(48, 100%, 67%, 0.323) 
}

.poem:hover {
    background-color: hsla(48, 100%, 67%, 0.532) 
}

.parable {
    background-color: hsla(348, 100%, 61%, 0.379)
}

.parable:hover {
    background-color: hsla(348, 100%, 61%, 0.516)
}

.etc {
    background-color: #7bc9f654;
}

.etc:hover {
    background-color: #7bc9f67a;
}

.art {
    background-color: hsla(171, 100%, 41%, 0.249);
}

.grid-sizer,
.grid-item {
    width: 22%;
    transition: all .2s ease-in-out;
    
}

.grid-item--width2 {
    width: 50%;
}


.cover .pic-cover {
    border-radius: 4px;
    transition: all .15s cubic-bezier(.4,0,.2,1);
}

.text-cover {
    transition: .15s;
    opacity: 0%;
}

.cover:hover .text-cover {
    transition: .15s;
    opacity: 100%;
}

.cover:hover .pic-cover {
    transform: translateY(6rem);
    transition: all .15s cubic-bezier(.4,0,.2,1);
}

@keyframes fallDown {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media (max-width: 768px) {
    .buttons a {
        font-size: 12px;
    }
}

